n8n_workflow.json
{
  "name": "Competitor Radar → Telegram",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [1],
              "triggerAtHour": 6,
              "triggerAtMinute": 0
            }
          ]
        }
      },
      "id": "trigger-schedule",
      "name": "Weekly trigger (Mon 06:00)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://localhost:8000/api/telegram-digest",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "refresh", "value": "true" },
            { "name": "week", "value": "0" }
          ]
        },
        "options": {
          "timeout": 120000
        }
      },
      "id": "http-radar",
      "name": "Radar: refresh + digest",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [520, 300]
    },
    {
      "parameters": {
        "fieldToSplitOut": "messages",
        "options": {}
      },
      "id": "split-messages",
      "name": "Split digest parts",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [800, 300]
    },
    {
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_CHAT_ID }}",
        "text": "={{ $json.messages }}",
        "additionalFields": {
          "parse_mode": "HTML",
          "disable_web_page_preview": true
        }
      },
      "id": "telegram-send",
      "name": "Send to Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1080, 300],
      "credentials": {
        "telegramApi": {
          "id": "REPLACE_WITH_YOUR_TELEGRAM_CREDENTIAL_ID",
          "name": "Competitor Radar Bot"
        }
      }
    }
  ],
  "connections": {
    "Weekly trigger (Mon 06:00)": {
      "main": [[{ "node": "Radar: refresh + digest", "type": "main", "index": 0 }]]
    },
    "Radar: refresh + digest": {
      "main": [[{ "node": "Split digest parts", "type": "main", "index": 0 }]]
    },
    "Split digest parts": {
      "main": [[{ "node": "Send to Telegram", "type": "main", "index": 0 }]]
    }
  },
  "settings": { "executionOrder": "v1" },
  "pinData": {}
}
